---
---

@import "minima";

.fa,
[dir="rtl"] {
  direction: rtl;
  text-align: right;
  unicode-bidi: isolate;
}

.fa {
  font-family: Tahoma, Arial, sans-serif;
}

.fa ul,
[dir="rtl"] ul {
  margin-left: 0;
  margin-right: 30px;
}

.post-content img {
  display: block;
  width: auto;
  max-width: 100%;
  height: auto;
  margin: 2rem auto 0.75rem;
  border-radius: 8px;
}
